<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <appender name="swing" class="com.karatitza.gui.swing.logging.SwingAppender"/>
    <root level="debug">
        <appender-ref ref="swing"/>
    </root>
</configuration>